[Install]
WantedBy=default.target
WantedBy=nostream-pod.service

[Container]
Image=ghcr.io/danvergara/nostream_migrations:latest
ContainerName=nosream-migrations
Network=nostream.network
AutoUpdate=registry
Environment=DB_PASSWORD=nostr_ts_relay
Environment=DB_NAME=nostr_ts_relay
Environment=DB_USER=nostr_ts_relay
Environment=DB_PORT=5432
Environment=DB_HOST=nostream-db
